
<mat-form-field class="demo-inline-calendar-card">
    <mat-label>Escolha uma data</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<section class="cronograma">
    <h2>Meu Cronograma de Estudos</h2>
    
    <div class="schedule">
      <div class="schedule-item" *ngFor="let item of cronograma">
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.descricao }}</p>
        <span>{{ item.data | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>
  
    <button class="add-item-btn">Adicionar Tarefa</button>
</section>
